<h4 id="home"><a href="#home">2.2.1 Home page<br>
</a></h4>
<p>
	 The Home page welcomes you to your organization and offers you several options for different actions you can take. You can also use the menu on the left-hand side of the screen to view the different apps that are currently installed for your organization. This organization currently has the Token Manager, Voting, Finance, and Agent apps installed, plus default Permissions, App Center, and Organization "System" apps.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d866ff52c7d3a7e9ae1748f/file-tI8SSNINgn.png">
</p>
<h4 id="tokens"><a href="#tokens">2.2.2 Tokens app<br>
</a></h4>
<p>
	 Use the Tokens app to mint new tokens and assign them to yourself or other entities. Tokens minted by the Tokens app confer voting abilities to holders of the tokens such that one token equals one vote. Tokens in a Membership organization are non-transferable, and each tokenholder can only hold a maximum of one token minted by the organization at a time (so one member = one vote).
</p>
<p>
	 There are many reasons an organization might mint tokens for entities. Here are a few examples:
</p>
<ul>
	<li>The organization is a cooperative that mints a token for each worker in the cooperative</li>
	<li>The organization is a club that mints a token for each member of the club</li>
	<li>The organization is a committee that mints a token for each member of the committee</li>
</ul>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d8670092c7d3a7e9ae17490/file-puq4uLJNdR.png">You can mint new tokens by following these steps:
</p>
<h4>2.2.2.1 Click “Add Tokens” button</h4>
<p>
	 Enter the address of the recipient of the tokens and the number of new tokens you want to mint and assign to that address, then click “Add Tokens”.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d86701904286364bc8f65a6/file-9tbZ22t8RL.png">
</p>
<h4>2.2.2.2 Create vote to assign tokens</h4>
<p>
	 Even though you are the only tokenholder at this point, the Membership organization still requires a tokenholder vote for every action. Click “Create transaction” to create the transaction that creates a new vote to assign the new token you want to mint. Sign the transaction in your Ethereum provider, wait for a confirmation, then move on to the next step.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d8670252c7d3a7e9ae17491/file-zHVRJRsCxh.png">
</p>
<h4>2.2.2.3 Vote "Yes" to approve the “Assign Tokens” vote</h4>
<p>
	 Go to the Voting app, click on the "Mint tokens" proposal you just created, and vote "Yes" to approve minting and assigning the token.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d86704404286364bc8f65a8/file-3HqY7hjgVT.png"><img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d86704e04286364bc8f65a9/file-Q0j84wMspY.png"><img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d86705504286364bc8f65aa/file-XXqa4bCrdP.png"><img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d86705d04286364bc8f65ab/file-ufbjRLw9WD.png">
</p>
<h4>2.2.2.4 Check out the newest member of your organization</h4>
<p>
	 Your organization just went from one to two members. A good start to a new Membership organization!
</p>
<p>
	<em>Note: If a vote is cast that causes the Minimum Approval % to be equal to or greater than the Support required (e.g. 60% Support with 60% Minimum Approval) then the vote will execute automatically. If the Minimum Approval % is less than the Support required (e.g. 60% Support with 40% Minimum Approval) then additional "no" votes could still stop the vote from being passed, so the vote will remain open until either the duration is reached or the Minimum Approval % is equal to or greater than the Support requirement. After the vote ends, the result must be enacted manually by one of the tokenholders in the organization.<br>
	</em>
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d8670692c7d3a7e9ae17492/file-5WDbMfjMmy.png">
</p>
<h4 id="voting"><a href="#voting">2.2.3 Voting app<br>
</a></h4>
<p>
	 The Voting app makes it easy for you to poll your fellow tokenholders about their position on an infinite range of topics. Votes initiated by other Aragon apps also show up in the Voting app. For example, assigning tokens using the Token Manager or moving funds from the Finance app are each actions that require a vote by tokenholders in a Membership organization. Follow these steps to create a new vote and poll your organization about a topic you care about:
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d86707404286364bc8f65ac/file-NDvm6NpSPk.png">
</p>
<h4>2.2.3.1 Click “New Vote”</h4>
<p>
	 Fill out the question you want to poll your organization about and click “Create new vote”.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d86707f04286364bc8f65ad/file-IhKe023Zf9.png">
</p>
<h4>2.2.3.2 Sign transaction to create new vote</h4>
<p>
	 Click the “Create transaction” button, then open your Ethereum provider to sign and send the transaction.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d86708e04286364bc8f65ae/file-FAtL1dKffA.png">
</p>
<h4>2.2.3.3 Vote on the proposal, then ask the other tokenholders to review and vote on the proposal</h4>
<p>
	 Vote on the proposal you just created. Then rally your fellow tokenholders outside the app - for example, by email, forum, chat room, or good old fashioned face-to-face - and ask them to review and vote on the proposal too. Tokenholders can visit the Voting app to see the list of open votes and cast their ballot accordingly.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d86709a2c7d3a7e9ae17493/file-XluXd7VtTG.png">
</p>
<h4>2.2.3.4 Other tokenholders cast their vote</h4>
<p>
	 In this case, the other tokenholder in the organization supports the proposal and votes "Yes".
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d8670a62c7d3a7e9ae17494/file-2c4reim3Sf.png">
</p>
<h4>2.2.3.5 Review the vote</h4>
<p>
	 Since there are only two tokenholders in this organization, and the Support parameter is set to 50%, the unanimous vote on the proposal has resulted in the proposal being passed.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d8670b22c7d3a7e9ae17495/file-FZCAKkw62i.png">
</p>
<h4 id="settings"><a href="#settings">2.2.4 Organization app<br>
</a></h4>
<p>
	 The Organization app is where you can find organization-specific information and settings, such as the internal addresses for your organization. When using a testnet you also have the ability to request test tokens, which will be sent to the organization’s Vault app.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d8670bc04286364bc8f65af/file-SZN83XL6h8.png">
</p>
<h4 id="finance"><a href="#finance">2.2.5 Finance app<br>
</a></h4>
<p>
	 The Finance app is the app that provides tokenholders with access to the funds held by their organization. The Finance app shows the current balance in ETH and tokens as well as the transaction history of the organization. You can also use the Finance app to initiate a new transfer of funds. 
	<em><br>
	</em>
</p>
<p>
	<em><img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d8670c82c7d3a7e9ae17496/file-Cbt8rIK9tN.png"></em>Follow these steps to create a new transfer from the Finance app:
</p>
<h4>2.2.5.1 Send ETH or tokens to your organization</h4>
<p>
	<strong>On mainnet</strong>
</p>
<p>
	 Go to the Finance app and click the “New Transfer” button. On the “Deposit” tab, enter the token you want to deposit, the amount, and an optional reference note. Click “Submit deposit” to complete the transfer. About a minute or so after your transaction is confirmed, the funds will appear in the Finance app of your organization. You can then create a new transfer to withdraw these funds to another address.
</p>
<p>
	<strong>On testnet</strong>
</p>
<p>
	 Go to the Organizations app and press the “Request test tokens” button. Open your Ethereum provider to sign and send the transaction. About a minute or so after your transaction is confirmed, test tokens will be available in the Finance app of your organization. You can then create a new transfer to send these tokens to another address. Tokens can also be sent to your testnet organization using the "Deposit" method mentioned in the "On mainnet" section above.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d8670da04286364bc8f65b0/file-lztal6JyYX.png">
</p>
<h4>2.2.5.2 Click “New Transfer” to initiate a new transfer from the Finance app</h4>
<p>
	 Go to the "Withdrawal" tab then enter the address of the recipient and the amount of tokens to send them, along with an optional reference note about what the transfer is for. Then click “Submit withdrawal”.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d8670e62c7d3a7e9ae17497/file-quu2IfhsDQ.png">
</p>
<h4>2.2.5.3 Sign the transaction to create the New Transfer vote</h4>
<p>
	 As mentioned before, all actions in the Membership organization require a vote by tokenholders. Click “Create transaction” then open your Ethereum provider to sign and send the transaction that creates the New Transfer vote.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d8670f004286364bc8f65b1/file-xcZDgg8Vu9.png">
</p>
<h4>2.2.5.4 Vote on the transfer</h4>
<p>
	 The transfer has to be approved by tokenholders. Cast a "Yes" vote to approve the transfer and have the other tokenholders in the organization vote as well.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d8670fd04286364bc8f65b2/file-jsucaGkkik.png">
</p>
<h4>2.2.5.5 The vote transaction is signed and sent to approve the transfer</h4>
<p>
	 After confirmation, the transfer will execute.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d86710c2c7d3a7e9ae17498/file-mWJ5uGy3uh.png">
</p>
<h4>2.2.5.6 Review the transfer in the Finance app</h4>
<p>
	 Go back to the Finance app to see a record of the transfer and a link to the transaction record on the blockchain.
</p>
<p>
	<img src="https://s3.amazonaws.com/helpscout.net/docs/assets/5c98a4fe0428633d2cf3fcf7/images/5d86711b2c7d3a7e9ae17499/file-GjF9RWwaeE.png">
</p>
